body {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  
}

.fondo {
  position: relative;
  margin-left: 20%;
  display: inline-block;
  background-image: url(./img/Imagen2.png);
  height: 200px;
  width: 600px;
}
h1{
  text-align: center;
  margin-top: 15%;
  font-family: "Oswald", sans-serif;
  font-size: 300%;
  color: rgb(25, 9, 85);

}
  
  
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(25, 9, 85);
  font-family: "Oswald", sans-serif;
  
}
h2{
  text-align: center;
}
a {
  width: 200px;
  height: 20px;
  display: inline-block;
  border: 5px;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  color: azure;
}
figure{
  display:inline-block;
  width: 33%;
  margin: 0%;
}
.Imagen{
  width: 100%;
  
}
.imgtab{
  height: 150px;
  width: 200px;
}
.nombretab{
  width: 200px;
  /* background-color: brown; */
  border-bottom-color: black;
}
table{
    text-align: center;
    border-style: solid;
    border-color: transparent;
}
td{
  border-style: solid;
  border-color: rgba(180, 20, 20, 0.055);
}